@{
    ViewData["Title"] = "Home Page";
}
<html lang="pt-br">
<head>

</head>
<body>
    <div class="container-fluid">
        <h2 class="text-center">Fundação Armando Alvares Penteado</h2>
    </div>
</body>
</html>