@model Projeto_DOS.Models.CadastroAlunos_SJC

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Create</title>
</head>
<body>
    <div class="container">
        <h4>Cadastro Alunos São José Campos</h4>
        <hr />
                <form asp-action="Create">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="NOCIC" class="control-label m-0"></label>
                                <input asp-for="NOCIC" class="form-control" />
                                <span asp-validation-for="NOCIC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="NOME" class="control-label m-0"></label>
                                <input asp-for="NOME" class="form-control" />
                                <span asp-validation-for="NOME" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="SEXO" class="control-label m-0"></label>
                                <input asp-for="SEXO" class="form-control" />
                                <span asp-validation-for="SEXO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ENDERECO" class="control-label m-0"></label>
                                <input asp-for="ENDERECO" class="form-control" />
                                <span asp-validation-for="ENDERECO" class="text-danger"></span>
                            </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CIDADE" class="control-label m-0"></label>
                                <input asp-for="CIDADE" class="form-control" />
                                <span asp-validation-for="CIDADE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="BAIRRO" class="control-label m-0"></label>
                                <input asp-for="BAIRRO" class="form-control" />
                                <span asp-validation-for="BAIRRO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ESTADO" class="control-label m-0"></label>
                                <input asp-for="ESTADO" class="form-control" />
                                <span asp-validation-for="ESTADO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CEP" class="control-label m-0"></label>
                                <input asp-for="CEP" class="form-control" />
                                <span asp-validation-for="CEP" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="FONE" class="control-label m-0"></label>
                                <input asp-for="FONE" class="form-control" />
                                <span asp-validation-for="FONE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="PAI" class="control-label m-0"></label>
                                <input asp-for="PAI" class="form-control" />
                                <span asp-validation-for="PAI" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="MAE" class="control-label m-0"></label>
                                <input asp-for="MAE" class="form-control" />
                                <span asp-validation-for="MAE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="NASCIMENTO" class="control-label m-0"></label>
                                <input asp-for="NASCIMENTO" class="form-control" />
                                <span asp-validation-for="NASCIMENTO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-groupmr">
                                <label asp-for="LOCALNASC" class="control-label m-0"></label>
                                <input asp-for="LOCALNASC" class="form-control" />
                                <span asp-validation-for="LOCALNASC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="UFNASC" class="control-label m-0"></label>
                                <input asp-for="UFNASC" class="form-control" />
                                <span asp-validation-for="UFNASC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-groupmr ">
                                <label asp-for="RG" class="control-label m-0"></label>
                                <input asp-for="RG" class="form-control" />
                                <span asp-validation-for="RG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-groupmr">
                                <label asp-for="ORGAO" class="control-label m-0"></label>
                                <input asp-for="ORGAO" class="form-control" />
                                <span asp-validation-for="ORGAO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="UFEMIS" class="control-label m-0"></label>
                                <input asp-for="UFEMIS" class="form-control" />
                                <span asp-validation-for="UFEMIS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ESTADOCIVI" class="control-label m-0"></label>
                                <input asp-for="ESTADOCIVI" class="form-control" />
                                <span asp-validation-for="ESTADOCIVI" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="PROFISSAO" class="control-label m-0"></label>
                                <input asp-for="PROFISSAO" class="form-control" />
                                <span asp-validation-for="PROFISSAO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="EMPRESA" class="control-label m-0"></label>
                                <input asp-for="EMPRESA" class="form-control" />
                                <span asp-validation-for="EMPRESA" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="DEPTO" class="control-label m-0"></label>
                                <input asp-for="DEPTO" class="form-control" />
                                <span asp-validation-for="DEPTO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CARGO" class="control-label m-0"></label>
                                <input asp-for="CARGO" class="form-control" />
                                <span asp-validation-for="CARGO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="RESPRH" class="control-label m-0"></label>
                                <input asp-for="RESPRH" class="form-control" />
                                <span asp-validation-for="RESPRH" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CURSOG" class="control-label m-0"></label>
                                <input asp-for="CURSOG" class="form-control" />
                                <span asp-validation-for="CURSOG" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="FACULDADE" class="control-label m-0"></label>
                                <input asp-for="FACULDADE" class="form-control" />
                                <span asp-validation-for="FACULDADE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ANO" class="control-label m-0"></label>
                                <input asp-for="ANO" class="form-control" />
                                <span asp-validation-for="ANO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="CIDG" class="control-label m-0"></label>
                                <input asp-for="CIDG" class="form-control" />
                                <span asp-validation-for="CIDG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group ">
                                <label asp-for="UFG" class="control-label m-0"></label>
                                <input asp-for="UFG" class="form-control" />
                                <span asp-validation-for="UFG" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="FONEC" class="control-label m-0"></label>
                                    <input asp-for="FONEC" class="form-control" />
                                    <span asp-validation-for="FONEC" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="RAMAL" class="control-label m-0"></label>
                                    <input asp-for="RAMAL" class="form-control" />
                                    <span asp-validation-for="RAMAL" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="CELULAR" class="control-label m-0"></label>
                                    <input asp-for="CELULAR" class="form-control" />
                                    <span asp-validation-for="CELULAR" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="FONE1" class="control-label m-0"></label>
                                    <input asp-for="FONE1" class="form-control" />
                                    <span asp-validation-for="FONE1" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="EMAIL" class="control-label m-0"></label>
                                    <input asp-for="EMAIL" class="form-control" />
                                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <label asp-for="NROCREA" class="control-label m-0"></label>
                                    <input asp-for="NROCREA" class="form-control" />
                                    <span asp-validation-for="NROCREA" class="text-danger"></span>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3 mt-4">
                                <div class="justify-content-lg-start">
                                    <input type="submit" value="Criar" class="btn btn-primary" />
                                    <a class="btn btn-dark" asp-action="Index">Voltar a Lista</a>
                                </div>
                            </div>
                        </div>
                </form>
</div>
 
</body>
</html>
